body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #333333;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    gap: 30%;
    height: 80px;
}

.logo {
    display: flex;
    height: 100px;
    margin: -10px 0 -10px 0;
}

a, ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 16px;
    color: white;
    font-size: 18px;
}

a:hover {
    color: gold;
    font-weight: bold;
}

.info {
    display: flex;
    background-color: #1f2937;
    padding-bottom: 10%;
    gap: 100px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.text {
    width: 300px;
    color: white;
    font-size: 18px;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
}

div.image > img {
    display: flex;
    width: 350px;
    height: 200px;
}

button {
    max-height: 30px;
    background-color: #3882f6;
    border-radius: 6px;
    color: white;
    padding: 4px 16px 4px 16px;
    transition: background-color 0.5s, color 0.5s;
}

button:hover {
    background-color: purple;
    color: gold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 10%;
    gap: 22px;
    height: 300px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
}

.subtext {
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 32px;
}

div.image-and-text > img {
    display: flex;
    flex: 1 0 auto;
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 12px;
    transition: width 0.2s, height 0.2s;
}

div.image-and-text > img:hover {
    width: 200px;
    height: 200px;
}

div.image-and-text > p {
    font-size: 14px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    height: 300px;
}

.quote > p {
    margin: 0 30px 0 30px;
    width: 700px;
}

.quote > div {
    align-self: flex-end;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

.last {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 300px;
}

.take-action {
    display: flex;
    background-color: #3882f6;
    padding: 22px 90px 22px 90px;
    border-radius: 6px;
    line-height: 4px;
    color: white;
}

.take-action > button {
    align-self: center;
    margin-left: 120px;
    border: 1px solid white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 18px;
    color: white;
    background-color: #1f2937;
}