body {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: ce
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    display: flex;
    height: 100px;
    margin: -10px 0 -10px 16px;
}

a, ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    margin: 16px;
    color: white;
}

p, h1 {
    color: white;
}