body {
    display: flex;
    flex-direction: column;
    background-color: ;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid hotpink;
    background-color: #333333;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    display: flex;
    height: 100px;
    margin: -10px 0 -10px 16px;
}

a, ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    margin: 16px;
    color: white;
}

a:hover {
    color: gold;
    font-weight: bold;
}

p, h1 {
    color: white;
}

h1 {
    font-weight: bolder;
}

.info {
    display: flex;
    background-color: #1f2937;
    padding: 10%;
    gap: 100px;
    justify-content: center;
}

.text {
    width: 300px;
}

.image img {
    display: flex;
    flex: 0 0 auto;
    width: 350px;
    height: 200px;
    align-self: center;
    justify-content: center;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
    color: white;
    padding: 4px 16px 4px 16px;
    margin-top: 16px;
    transition: background-color 0.5s, color 0.5s;
}

button:hover {
    background-color: purple;
    color: gold;
}